.git
.github
.gitignore
.gitmodules

node_modules
dist
coverage
docs
tests
*.md

.env
.env.*

.editorconfig
.prettierignore
.prettierrc
eslint.config.js
vitest.config.ts
deploy
Dockerfile
.dockerignore
